* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 332px;
  height: fit-content;
  border: 2px solid black;
  display: flex;
  margin: 10px auto;
  padding: 5px;
  flex-direction: column;
  flex-wrap: wrap;
}

#result-container {
  font-size: xx-large;
  word-wrap: break-word;
  min-height: 50px;
  width: 305px;
  text-align: end;
  padding: 7px;
  margin: 5px;
}

#num-pad button{
    width: 74px ;
    height: 74px ;
    padding: 3px;
    margin: 2px;
}

#num-pad{
  margin-left: 2px;
}

button{
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  background-color: #217c7e;
  transform: all 0.3s ease;
}


#result{
  color: white;
}

.container{
  background-color: black;
  border-radius: 4px;
}

#result-container{
  background-color: cadetblue;
}


button:active{
  background-color: hsl(0, 0%, 82%);
  /* box-shadow: 0 2px #ffffff; */
}

.operators, #equals{
  background-color: #ff8f1f;
}

#clear{
  background-color: #1e90ff;
}

